<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products Management</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
</head>
<body>
<div class="flex flex-col items-center">
    <h1 th:text="${offer.offerUrl()}"
        class="text-xl my-8 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">
        http://olx.pl/asdf
    </h1>

    <div class="w-6/12">
        <canvas id="chart"></canvas>
    </div>

    <form class="mx-auto w-96 my-8"
          action="#"
          method="post"
          th:action="@{|/offers/${offer.id}/edit|}"
          th:object="${editOfferCommand}"
    >
        <div class="mb-5">
            <label for="selector" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selector</label>
            <input type="text"
                   id="selector"
                   name="selector"
                   th:field="*{selector}"
                   placeholder="div > p.price"
                   required
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5">
            <label for="selectorType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selector
                Type</label>
            <select id="selectorType"
                    name="selectorType"
                    th:field="*{selectorType}"
                    required
                    class="disabled:opacity-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="CSS">CSS</option>
            </select>
        </div>
        <div class="mb-5">
            <label for="pageType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Page Type</label>
            <select id="pageType"
                    name="pageType"
                    th:field="*{pageType}"
                    required
                    class="disabled:opacity-50 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="HTML">HTML</option>
            </select>
        </div>
        <div class="mb-5">
            <label for="refreshValue" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Refresh
                time</label>
            <input type="number"
                   id="refreshValue"
                   name="refreshValue"
                   th:field="*{refreshValue}"
                   placeholder="15"
                   required
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
        </div>
        <div class="mb-5">
            <label for="refreshUnit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selector
                Type</label>
            <select id="refreshUnit"
                    name="refreshUnit"
                    th:field="*{refreshUnit}"
                    required
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value="SECONDS">Seconds</option>
                <option value="MINUTES" selected>Minutes</option>
                <option value="HOURS">Hours</option>
                <option value="DAYS">Days</option>
            </select>
        </div>
        <button type="submit"
                class="block mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Update Offer
        </button>
    </form>

    <a type="button"
            th:href="@{|/products/${offer.productId}|}"
            class="inline-flex text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4">
        Back to product
    </a>
</div>

<script th:inline="javascript">
    const history = [[${history}]];
    let map = new Map(Object.entries(history));
    console.log(map);
    map = new Map([...map.entries()].sort());

    new Chart("chart", {
        type: "line",
        data: {
            labels: Array.from(map.keys()).map(lab => lab.substring(1, 16)),
            datasets: [{
                label: 'Price history',
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: Array.from(map.values())
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
            }
        }
    });
</script>
</body>
</html>
