<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
    <section class="bg-white dark:bg-gray-800 h-screen">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-blue-600 dark:text-primary-500">Error</h1>
                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Something went wrong.</p>
                <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, there were problem during processing your request</p>
                <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400" th:text="${error}">Error type</p>
                <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400" th:text="${timestamp}">Error timestamp</p>
                <a href="#" th:href="@{/}" class="inline-flex text-white bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">Back to Homepage</a>
            </div>
        </div>
    </section>
</body>
</html>