<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Priceflow</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body class="dark:bg-gray-700">
<nav th:replace="~{fragments/fragments :: #navbar}"></nav>
<div class="container flex flex-wrap mx-auto p-8">
    <div class="flex items-center w-full lg:w-1/2">
        <div class="max-w-2xl mb-8">
            <h1 class="text-4xl font-bold leading-snug tracking-tight text-gray-800 lg:text-4xl lg:leading-tight xl:text-6xl xl:leading-tight dark:text-white">
                PriceFlow - your money partner
            </h1>
            <p class="py-5 text-xl leading-normal text-gray-500 lg:text-xl xl:text-2xl dark:text-gray-300">
                Priceflow tracks prices on any website for you and
                send you an alert if price reach your desired level.
            </p>

            <div class="flex flex-col items-start space-y-3 sm:space-x-4 sm:space-y-0 sm:items-center sm:flex-row">
                <a href="#"
                   th:href="@{/products}"
                   rel="noopener"
                   class="px-8 py-4 text-lg font-medium text-center text-white bg-indigo-600 rounded-md ">
                    Browse products
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center w-full lg:w-1/2">
        <img th:src="@{/img/hero.png}"
             alt="Hero Illustration"
             class="rounded-full"
        />
    </div>
</div>
</body>
</html>